<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorCRUD.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>    
        
        @*La parte de mi menu --> las pages que yo creo*@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="filmdetails">                               @* Actualitzo href*@
                <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Add Film       @* Actualitzo nombre que aparecera en el menu : Home -->"Film Details" y el icono que es:"class="oi oi-home" por  *@
            </NavLink>
        </div>   

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="filmlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Film List
            </NavLink>
        </div>

    </nav>
    

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
