@page "/fetchdata"
@using CrudNetCore6.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (lista == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in lista)
            {
                <tr>
                    <td>@u.Nombre</td>
                    <td>@u.Apellido</td>
                    <td>@u.Email</td>
                    <td>@u.Telefono</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Usuario> lista;

    protected override async Task OnInitializedAsync()
    {
        lista = await Http.GetFromJsonAsync<List<Usuario>>("api/Usuario");
    }
}
